<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Unified Family Expense Tracker</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="../static/css/budget.css">
  <script src="../static/js/viewBudget.js"></script>
</head>
<body>
  <h2>Budgets</h2>
  <div class="alert-container">
    <div class="alert-table">
      <table id="alertTable">
        <thead>
          <tr>
            <th>Id</th>
            <th>Category</th>
            <th>Limit</th>  
            <th>Start</th>
            <th>End</th>
            <th>UserId</th>
            <th>Update</th>
            <th>Delete</th>
            <th>Renew</th>
          </tr>
        </thead>
        <tbody>
          {% for budget in budgets %}
              <tr>
                <td>{{budget[0]}}</td>
                <td>{{budget[1]}}</td>
                <td>{{budget[2]}}</td>
                <td>{{budget[3]}}</td>
                <td>{{budget[4]}}</td>
                <td>{{budget[5]}}</td>
                <td onclick="openUpdateModal('{{budget[0]}}', '{{budget[1]}}', '{{budget[2]}}', '{{budget[3]}}', '{{budget[4]}}', '{{budget[5]}}')">

                <i class="fas fa-edit" style="color: #3498db;"></i>
                </td>
                <td onclick="deleteBudget('{{budget[0]}}')">
                    <i class="fas fa-trash-alt" style="color: #e74c3c;"></i>
                </td>
                <td onclick="renewBudget('{{budget[1]}}','{{budget[2]}}','{{budget[3]}}','{{budget[4]}}','{{budget[5]}}')">
                    <i class="fas fa-sync-alt" style="color: #27ae60;"></i>
                </td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div id="updateSection">
      <div class="modal-content">
        <h2>Update Budget</h2>
        <form id="updateForm" onsubmit="handleUpdate(event)">
          <label for="budgetId">Budget ID:</label>
          <input type="text" id="budgetId" name="budgetId" disabled><br><br>
  
          <label for="budgetAmount">Amount:</label>
          <input type="number" id="budgetAmount" name="budgetAmount"><br><br>
  
          <label for="budgetCategory">Category:</label>
          <select id="budgetCategory" name="budgetCategory" >
            <option value=1>Category 1</option>
            <option value=2>Category 2</option>
            <option value=3>Category 3</option>
          </select><br><br>
  
          <label for="startDate">Start Date:</label>
          <input type="date" id="startDate" name="startDate"><br><br>
  
          <label for="endDate">End Date:</label>
          <input type="date" id="endDate" name="endDate"><br><br>
  
          <button type="submit">Update Budget</button>
          <button type="button" onclick="closeUpdateModal()">Cancel</button>
        </form>
      </div>
    </div>  
</body>
</html>